body {
	background-color: rgb(5, 63, 110);
	color: #f7f7f7;
	text-align: center;
	margin-top: 80px;
}
button {
	border:none;
	background-color: #ffffff;
	color: #000000;
	font-size: 15px;
	margin: 15px;
	cursor:pointer;
	position:relative;
}

p { 
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
	font-size: 25px;
	position:relative;
}

h1{
	font-size:50px;
}


